h1.page-title {
  font-family: "Barlow", sans-serif;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
}
h2.banner-header,
.page-node-type-bids-rfp
  .field--name-field-other-attachments-link
  .banner-header.field__label {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
}
.region-search {
  margin: 0 25px;
}
@media (min-width: 1024px) {
  .region-search {
    position: absolute;
    right: 16px;
    top: 160px;
    margin: 0;
  }
}
#views-exposed-form-search-page-1 input.form-text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 49px;
  padding: 5px 95px 5px 15px;
  margin: 20px 0;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
  color: #000;
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 80px;
}
@media (min-width: 1024px) {
  #views-exposed-form-search-page-1 input.form-text {
    width: 340px;
    margin: 0;
  }
}
#views-exposed-form-search-page-1 input.form-submit {
  position: absolute;
  top: 50%;
  right: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 89px;
  height: 89px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
}
.branding__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 141px;
  width: 100%;
  padding: 0 60px;
  margin: 0;
  text-decoration: none;
}
.branding__link:focus,
.branding__link:hover {
  text-decoration: none;
}
@media (min-width: 1024px) {
  .branding__link {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: auto;
    padding: 0;
  }
}
.branding__image-wrapper {
  max-width: 100%;
  -ms-flex-item-align: center;
  align-self: center;
}
@media (min-width: 1024px) {
  .branding__image-wrapper {
    display: block;
    padding: 0 10px;
  }
}
.branding__image {
  display: block;
  -ms-flex-item-align: center;
  align-self: center;
  max-width: 100%;
  height: auto;
}
.branding__text {
  display: none;
}
@media (min-width: 1024px) {
  .branding__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 141px;
  }
}
.branding__text--item {
  display: block;
  line-height: 1;
  white-space: nowrap;
}
.branding__text--city {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  color: #383335;
}
@media (min-width: 512px) {
  .branding__text--city {
    font-size: 35px;
    font-size: 4rem;
    font-size: 4vw;
  }
}
.branding__text--state {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #383335;
}
@media (min-width: 512px) {
  .branding__text--state {
    font-size: 24px;
    font-size: 1.0rem;
    font-size: 2vw;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 30px;
  }
}
@media (min-width: 1024px) {
  #block-homepageblocks {
    width: 100%;
    min-width: 300px;
    max-width: 25%;
  }
}
.home-block {
  margin-top: 20px;
  background: #ffffff;
}
.home-block .home-block__title {
  padding: 20px 55px 20px 20px;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
}
.home-block .home-block__title::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: bold;
  padding: 0;
  font-size: 50px;
  font-size: 5rem;
}
.home-block .home-block__title[aria-expanded="true"]::after {
  content: "-";
}
@media (min-width: 1024px) {
  .block-menu.menu--main {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media (min-width: 1024px) {
  .mega-menu__expandable-wrapper {
    border-bottom: none;
    border-radius: 0 0 20px 20px;
    width: 950px;
  }
  .mega-menu__expandable-wrapper::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 10px;
    background-color: #f8ea62;
    border-radius: 20px 20px 0 0;
    z-index: 1;
  }
}
@media (min-width: 1024px) {
  .block-municode-mega-menu-block {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
  }
}
.mega-menu__title {
  font-family: "Prompt", sans-serif;
}
@media (min-width: 1024px) {
  .mega-menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 80px;
    position: relative;
    -webkit-transition: background-color 150ms linear, color 150ms linear;
    transition: background-color 150ms linear, color 150ms linear;
    font-size: 20px;
    font-size: 2rem;
    font-size: 1.9531vw;
    border-radius: 21px 21px 0 0;
    margin: 0 0.4882vw;
    padding: 0 0.4882vw;
    z-index: 20;
  }
  .mega-menu__title::after {
    content: "|";
    position: absolute;
    right: -0.4882vw;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (min-width: 1434px) {
  .mega-menu__title {
    font-size: 28px;
    font-size: 2.8rem;
  }
}
@media (min-width: 1590px) {
  .mega-menu__title {
    margin: 0 25px;
  }
  .mega-menu__title::after {
    right: -25px;
  }
}
@media (min-width: 1024px) {
  .mega-menu__item--top-level:last-child .mega-menu__title::after {
    content: none;
  }
}
@media (min-width: 1024px) {
  .mega-menu__list--second-level {
    width: 33.33%;
  }
}
.mega-menu__list--second-level.mega-menu__col--3 {
  display: none;
}
@media (min-width: 1024px) {
  .key-links-menu {
    max-width: 1470px;
    margin: 0 auto;
  }
}
.key-links-menu__item {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#eaf9ff),
    to(#fff)
  );
  background: linear-gradient(180deg, #eaf9ff 0%, #fff 100%);
}
@media (min-width: 1024px) {
  .key-links-menu__item {
    background: transparent;
    height: 190px;
    margin-top: -82px;
  }
}
.key-links-menu__link {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #383335;
  background-color: transparent;
  background-position: 5px center;
  background-size: 40px;
  background-repeat: no-repeat;
  padding: 20px 20px 20px 50px;
}
@media (min-width: 1024px) {
  .key-links-menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 140px 5px 0;
    background-position: center 11px;
    background-size: auto;
    border: none;
  }
}
.key-links-menu__link:hover {
  text-decoration: none;
  background-color: transparent;
  color: #383335;
}
@media (min-width: 768px) {
  .key-links-menu__link:hover {
    background-color: #a8d5e7;
  }
}
@media (min-width: 1024px) {
  .key-links-menu__link:hover {
    background-position: center 0;
    background-color: transparent;
  }
}
@media (min-width: 1200px) {
  .key-links-menu__item.menu-mlid-26 {
    margin-left: 110px;
  }
}
.keylinks-footer-link {
  display: none;
}
@media (min-width: 1024px) {
  .keylinks-footer-link {
    display: block;
    position: absolute;
    left: 50%;
    bottom: -20px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 93px;
    height: 64px;
    border-radius: 6px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
    white-space: nowrap;
    text-indent: 300%;
    overflow: hidden;
  }
  .keylinks-footer-link:hover {
    background-color: #a8d5e7;
  }
}
@media (min-width: 1200px) {
  .keylinks-footer-link {
    bottom: auto;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.image-preloader {
  overflow: hidden;
  width: 0;
  height: 0;
}
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-icon__image {
  width: 100%;
  border-radius: 100%;
}
.social-icon__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  border: 10px solid transparent;
  -webkit-transition: border-color 150ms linear, -webkit-box-shadow 150ms linear;
  transition: border-color 150ms linear, -webkit-box-shadow 150ms linear;
  transition: border-color 150ms linear, box-shadow 150ms linear;
  transition: border-color 150ms linear, box-shadow 150ms linear,
    -webkit-box-shadow 150ms linear;
}
.social-icon__link:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .social-icon__link:hover {
    border-color: #6a90cb;
    -webkit-box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.205502);
    box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.205502);
  }
}
.social-icons--home-page {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 300px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 35px;
}
@media (min-width: 480px) {
  .social-icons--home-page .social-icon {
    margin: 0 10px;
  }
}
@media (min-width: 1200px) {
  .social-icons--home-page .social-icon {
    margin: 0 0.5vw;
  }
}
@media (min-width: 768px) {
  .social-icons--home-page .social-icon__link:hover {
    border-color: #3f6298;
  }
}
.social-icons--footer .social-icon {
  max-width: 53px;
}
.social-icons--footer .social-icon__link {
  border-width: 4px;
}
#block-googletranslatewidget #google_translate_element {
  display: block;
  position: relative;
  padding: 5px 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right 23px center;
  z-index: 20;
  margin: 0 auto;
  text-align: left;
  width: 210px;
  overflow: hidden;
  border: 1px solid #6a90cb;
  border-radius: 100px;
  float: none;
}
#block-googletranslatewidget #google_translate_element .goog-te-gadget-simple {
  position: static;
  background: transparent;
  border: none;
}
.layout__sidebar .block:not(.block-microsite-menu-block) {
  font-size: 20px;
  font-size: 2rem;
}
.layout__sidebar .block:not(.block-microsite-menu-block) a {
  color: #000;
}
.layout__sidebar .block:not(.block-microsite-menu-block) .block__header {
  padding: 0 0 20px;
}
.layout__sidebar .block:not(.block-microsite-menu-block) .block__header h2 {
  background: #a8d5e7;
  color: #000;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 700;
  text-shadow: none;
  text-transform: uppercase;
  text-align: center;
  border-bottom: none;
  line-height: 1.2;
  padding: 10px 0;
  border-radius: 11px;
}
.layout__sidebar .block:not(.block-microsite-menu-block) .view-footer a,
.layout__sidebar .block:not(.block-microsite-menu-block) .sidebar-footer a {
  font-weight: 700;
}
.layout__sidebar .block:not(.block-microsite-menu-block) .view-footer a:hover,
.layout__sidebar
  .block:not(.block-microsite-menu-block)
  .sidebar-footer
  a:hover {
  background-color: #ffffff;
  color: #000000;
}
#microsite-catcher {
  background-color: #a8d5e7;
}
.block-microsite-menu-title-block .menu-title__link h2 {
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 20px;
  margin: 0;
  border-radius: 11px;
}
@media (min-width: 1024px) {
  .block-microsite-menu-title-block .menu-title__link h2 {
    margin: 0 0 30px 0;
  }
}
#microsite-catcher.microsite-catcher__hasMenu
  .block-microsite-menu-title-block
  .menu-title__link {
  margin: 0 0 0 70px;
}
@media (min-width: 1024px) {
  #microsite-catcher.microsite-catcher__hasMenu
    .block-microsite-menu-title-block
    .menu-title__link {
    margin: 0 0 10px 0;
  }
}
.microsite-menu__list {
  border-radius: 0 0 18px 18px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .microsite-menu__list {
    border-radius: 18px;
    margin: 0 0 30px;
  }
}
